TELEGRAM_BOT_TOKEN=
TELEGRAM_CAPOTURNO_ID=

GOOGLE_SERVICE_ACCOUNT_JSON=credentials.json
GOOGLE_SHEET_ID=
GOOGLE_DRIVE_FOLDER_ID=

SMTP_HOST=mail.vigilfuoco.it
SMTP_PORT=587
CAPOTURNO_EMAIL=capoturno@vigilfuoco.it

# Genera con: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
ENCRYPTION_KEY=
